body,
input {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.input-icon {
  position: relative;
  width: 100%;
  max-width: 1100px;
}

input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 40px;
  font-size: 18px;
  border: 3px solid #fff;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  outline: none;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 45%;
  transform: translateY(-50%);
  color: white;
  font-size: 25px;
  z-index: 10;
}

input[type="text"]:focus {
  border-color: #9d00ff;
}

.iframe-container {
  width: 98.5%;
  display: flex;
  justify-content: center;
  border: 3px solid #fff;
  padding: 5px;
}

iframe {
  width: 98.5%;
  max-width: 1080px;
  height: 475px;
  border: none;
}

.movie-posters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

.movie-poster {
  width: 200px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  transition: transform 0.2s;
}

.movie-poster:hover {
  transform: scale(1.05);
}

.movie-poster img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
  border: 2px solid #fff;
}

.movie-poster p {
  margin-top: 5px;
  font-size: 14px;
  word-break: break-word;
}
